/* Loading.module.css */

.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7); /* Black background with 70% opacity */
  z-index: 9999; /* Ensure it's on top of all content */
}

.loadingGif {
  width: 200px;
  height: 200px;
  object-fit: contain; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add spacing below GIF */
}

.heading {
  font-size: 2rem;
  text-align: center;
}
