.servicesContainer {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.serviceCol {
  margin-bottom: 30px;
}

.serviceCard {
   /* Create gradient border effect */
   background-image: linear-gradient(45deg, 
   rgba(255, 0, 0, 0.3) 0%,    /* Light Red */
   rgba(255, 255, 0, 0.3) 25%, /* Light Yellow */
   rgba(0, 0, 255, 0.3) 50%,   /* Light Blue */
   rgba(0, 128, 0, 0.3) 75%    /* Light Green */
 );
 background-origin: border-box;
 background-clip: padding-box, border-box;
 padding: 10px; /* Adjust padding for inner content */
 border: 2px solid transparent;
 border-radius: 10px; /* Ensure the border radius matches */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(88, 171, 5, 0.5); /* Green shadow on hover */
}

.serviceVideoWrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 15px;
}

.serviceVideoIcon {
  position: absolute;
  top: 0;
  left: 100px;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Background color added to the text area */
.serviceCardBody {
  background-color: transparent;
  padding: 20px;
  /* border-radius: 0 0 15px 15px; Rounded corners for the bottom of the card */
}

.serviceTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  /* Gradient Text Color */
  background: linear-gradient(45deg, 
  rgba(255, 255, 0, 0.8) 0%, /* Light Yellow */
    rgba(255, 0, 0, 0.8) 25%,    /* Light Red */
    rgba(0, 0, 255, 0.8) 50%,   /* Light Blue */
    rgba(0, 128, 0, 0.8) 75%    /* Light Green */
  );
  background-clip: text;
  -webkit-background-clip: text; /* WebKit browsers */
  color: transparent; /* Hide the original color */
  -webkit-text-fill-color: transparent; /* WebKit browsers */
}

.serviceDescription {
  font-size: 1rem;
  color: black; /* Change text color to white for contrast */
}
