.howItWorksSection {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #022e97;
}

.stepsContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.step {
  flex: 1;
  max-width: 300px;
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 4rem;
  color: #059f41; /* Green accent color */
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.stepTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.stepDescription {
  font-size: 1rem;
  color: #555;
  margin: 0 auto;
  max-width: 200px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .stepsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.videoSection {
  padding-top: 8rem;
  text-align: center;
  width: 80%;
  height: 110vh;
  margin: 0 auto;
}

.videoTitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #022e97;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  cursor: pointer;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.muteButton {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.muteButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.muteIcon {
  color: white;
  font-size: 1.2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .videoSection {
    height: 140vh;
  }

  .muteButton {
    width: 32px;
    height: 32px;
    top: 12px;
    right: 12px;
  }

  .muteIcon {
    font-size: 1rem;
  }
}

.playPauseButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none; /* This makes clicks pass through to the video wrapper */
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playIcon {
  color: white;
  font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .playPauseButton {
    width: 60px;
    height: 60px;
  }

  .playIcon {
    font-size: 1.5rem;
  }
}
